{% extends 'base.html' %}
{% block title %} Gallery {% endblock %}
{% block header %} Gallery {% endblock %}

{% block content %}
<h3 class="header_reverse" id="poznaj_kotki">Poznaj moje kotki</h3>
<div class="container_2">
    <!--ALCIA-->
    <div class="split">
        <h3 class="header_reverse">Alcia</h3>
        <br>
        <!--GALLERY START-->
        <div class="gallery">
            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_1.jpg" alt="alcia1"></div>
            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_2.jpg" alt="alcia2"></div>
            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_3.jpg" alt="alcia3"></div>
            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_4.jpg" alt="alcia4"></div>
        </div>
        <!--GALLERY END-->
    </div>
    <!--MISCHIEF-->
    <div class="split">
        <h3 class="header_reverse">Mischief</h3>
        <br>
        <!--GALLERY START-->
        <div class="gallery">
            <div class="img_container"><img class="kotki_images" src="images/mischief_cute_1.jpg" alt="mis1"></div>
            <div class="img_container"><img class="kotki_images" src="images/mischief_cute_2.jpg" alt="mis2"></div>
            <div class="img_container"><img class="kotki_images" src="images/mischief_cute_3.jpg" alt="mis3"></div>
        </div>
        <!--GALLERY END-->
    </div>
</div>
{% endblock %}